@import url('https://fonts.googleapis.com/css?family=Great+Vibes');
@import url('https://fonts.googleapis.com/css?family=Josefin+Slab');

*, *:before, *:after {
    box-sizing: border-box;
}

.About-Header-container {
    margin-top: 100px;
    width: 100%;
    height: 800px;
    background: black;
}

.gallery-image-container {
    margin: 0 auto;
}

.gallery-grid {
    width: 100%;
    height: 95%;
}

.gallery-grid-tile {
    padding: 10px;
    width: 33.33%;
    height: 375px;
    float: left;
}

@media (max-width: 1000px) {
    .gallery-grid-tile {
        width: 50%;
    }

    .About-Header-container {
        height: 1200px;
    }
}

@media (max-width: 600px) {
    .gallery-grid-tile {
        width: 100%;
    }

    .About-Header-container {
        height: 2300px;
    }
}

.gallery-grid-item-container {
    width: 100%;
    height: 100%;
    display:table;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: top;
    background-repeat:no-repeat;
}
.gallery-grid-item-letter{
    transition: .3s opacity ease;
    position:absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    z-index:100;
    font-size:200px;
    margin:0 auto;
    padding:0;
    line-height:350px;
    color:white;
}
.gallery-grid-item-container::before {
    content: "";
    display: block;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    opacity: .9;
    background-color: black;
}

.gallery-grid-item-container::before, .gallery-grid-item-container::after {
    transition: .3s opacity ease;
}
.gallery-grid-item-container:hover .gallery-grid-item-letter{
    opacity:0;
}
.gallery-grid-item-container::before:hover {
    opacity: 0;
}

.gallery-grid-item {
}

.gallery-grid img {
    width: 100%;
    border: 5px solid #fff;
}

.gallery-grid div {
    position: relative;
    cursor: pointer;
}

.gallery-image-cointainer {
    display: table;
    text-align: center;
}

.gallery-image-container h1 {
    color: white;
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    font-size: 20vh;
    margin: 0;
    padding: 0;
}

.gallery-grid div:hover:before, .gallery-grid div:hover:after {
    opacity: 0;

    transition: .3s opacity ease;
}

@media (max-height: 550px) {
    .gallery-image-container h1 {
        font-size: 17vh;
    }
}

@media (max-height: 350px) {
    .gallery-image-container h1 {
        font-size: 10vh;
    }
}

.Content-container {
    background: white;
    width: 100%;
    height: 600px;
}

.Content-container-column {
    width: 50%;
    float: left;
    height: inherit;
    font-size: 18px;
    padding-left: 5%;
    padding-right: 5%;
    font-family: "Cormorant Garamond", serif;
}

.Content-container-column h1 {
    color: black;
    font-family: "Cormorant Garamond", serif
}

.Content-container-column2 {
    width: 50%;
    float: left;
    height: inherit;
    padding-right: 10%;
    font-family: "Cormorant Garamond", serif;
}

.Content-container-image {
    width: 100%;
    height: 590px;
    background: url('../../images/kelsey/kelsey24-min.jpeg');
    background-position: center;
    background-position-y: 20px;
    background-repeat: no-repeat;
    background-size: cover;
}

@media (max-width: 950px) {
    .Content-container-column {
        font-size: 16.5px;
    }
}

@media (max-width: 750px) {
    .Content-container-column {
        font-size: 14.5px;
    }
}

@media (max-width: 650px) {
    .Content-container-column {
        font-size: 18.5px;
    }

    .Content-container-column {
        width: 100%;
    }

    .Content-container-column2 {
        display: none;
        position: absolute;
    }

}

@media (max-width: 500px) {
    .Content-container-column {
        padding: 10px;
    }
}

@media (max-width: 400px) {
    .Content-container-column {
        font-size: 16px;
    }
}
