.parallax1{
    z-index: -1;
    content: "";
    position: fixed;
    top: 80px;
    min-height: 600px;
    width: 100%;
    background-position: center;
    -webkit-transform: translate3d(0, 0, 0);
    background-repeat: no-repeat;
    background-size: cover;
}

.Parallax1-header h1 {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    color: white;
    font-size: 70px;
    font-family: 'Herr Von Muellerhoff', cursive;
}

@media (max-width: 500px) {
    .Parallax1-header h1 {
        font-size: 50px;
    }
}