@import url('https://fonts.googleapis.com/css?family=Herr+Von+Muellerhoff');
@import url('https://fonts.googleapis.com/css?family=Josefin+Slab');

.Contact-header {
    background: white;
    width: 100%;
}

.Contact-header-banner {
    margin:0 auto;
    margin-top: 75px;
    width: 100%;
    height: 450px;
    display: table;
    background: url(../../images/kelsey/kelsey25-min.jpeg);
    background-position: left top 20%;
    background-size:100%;
    background-repeat: no-repeat;
}

.divider {
    width: 150px;
    height: 5px;
    background: hotpink;
    margin: 0 auto;
}

.Contact-header-banner-content {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    position: relative;
    margin:0;
}

.Contact-header-banner h1 {
    font-size: 50px;
    color: white;
    font-family: "Cormorant Garamond", serif;
}

.Contact-header-content {
    padding-left: 200px;
    padding-right: 200px;
    font-family: "Cormorant Garamond", serif;
}
.Contact-divider{
    border-bottom: hotpink dashed 2px;
    width:80%;
    margin: 0 auto;
}
.Contact-wrapper {
    background: #FFF;
    border-bottom: black dashed 2px;
}
.Contact-form{
}
@media (max-width: 1000px) {
    .Contact-header-content {
        padding-left: 100px;
        padding-right: 100px;
    }

}

@media (max-width: 700px) {
    .Contact-header-content {
        padding-left: 60px;
        padding-right: 60px;
    }

    .Contact-header-banner h1 {
        font-size: 35px;
    }
}
@media (max-width:400px){
    .Contact-header-content{
        padding-left: 20px;
        padding-right: 20px;

        font-size:14px;
    }
}