@import url('https://fonts.googleapis.com/css?family=Herr+Von+Muellerhoff');
@import url('https://fonts.googleapis.com/css?family=Josefin+Slab');

.preload {
    display: none;
}
:focus{
    outline:none;
}
.header h1 {
    color: white;
    text-align: center;
    font-family: 'Herr Von Muellerhoff', cursive;
    font-size: 60px;
    position: absolute;
    right: 30px;
    bottom: 0;
    margin: 0;
}

.Home-sidebar {
    margin-top: 90%;
    height: 50px;
    position: absolute;
    left: 20px;
    bottom: 5px;
    z-index: 2;
}

.parallax {
    /* The image used */
    min-height: 600px;
    width: 100%;
    display: table;
}

@media (max-width: 500px) {
    .header h1 {
        font-size: 40px;
        right: 10px;
    }

    .Home-sidebar {
        display: none;
    }
}