@import url('https://fonts.googleapis.com/css?family=Josefin+Slab');
@import url('https://fonts.googleapis.com/css?family=Pontano+Sans');
@import url('https://fonts.googleapis.com/css?family=Herr+Von+Muellerhoff');
@import url('https://fonts.googleapis.com/css?family=Abril+Fatface');

.Post-container{
    width:100%;
    text-align:justify;
    font-family: 'Josefin Slab', serif;
}
.Post-image{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    margin-top:100px;
}
.Post-title{
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-size:60px;
    text-align:center;
    font-family: 'Pontano Sans', sans-serif;
    margin-bottom: 0;
    padding:20px;
}
.Post-author{
    margin-top:0;
    color:#FFBABA;
    font-family: 'Herr Von Muellerhoff', cursive;
    font-size:40px;
    text-align:center;
    padding:20px;
}
.Post-details{
    text-align: center;
    font-size:15px;
    margin-top:0;
    margin-bottom:0;
}
.Post-date{
    padding-right: 10px;
}
.Post-tags{
    padding-left: 10px;

}
.Post-content{
    overflow:hidden;
    width:50%;
    text-align:justify;
    display:block;
    margin:0 auto;
    font-family: 'Pontano Sans', sans-serif;
}
.Post-content h1{
    font-size:40px;
    text-align:center;
    font-family: 'Pontano Sans', sans-serif;
}
.Post-content img{
    width:100%;
    height:100%;
    display:block;
    margin:0 auto;
}
.Post-content a{
    text-decoration:none;
    color:#FFBABA;
}
.Comments-container{
    width:50%;
    display:block;
    margin:0 auto;
    height:100%;
}
.Comments-title{
    text-align:center;
}
.New-Comment-container{
    display:block;
    margin:0 auto;
    text-align:center;
    height:100%;
}
.Comment-input1{
    width:200px;
    margin: 0 auto;
    text-align:center;
    height:20px;
}
.Comment-input2{
    width:100%;
    height:50px;
}
.Comment-button{
    width:100%;
    height:50px;
    font-family: 'Pontano Sans', sans-serif;
    font-size: 30px;
    background:#191919;
    color:white;
    border-radius:40px;
}
.Comment-author{
    font-size:25px;
    margin:0 auto;
    margin-bottom:10px;
}
.Comment-content p{
    margin:0 auto;
    margin-left:20px;
    font-size:20px;
    color:grey;
    margin-bottom:30px;
}
@media (max-width:500px) {
    .Post-content{
        width:80%;
    }
    .Post-title{
        font-size:35px;
    }
    .Comments-container{
        width:80%;
    }
    .Comment-author{
        font-size:18px;
    }
    .Comment-content p{
        font-size: 15px;
    }
}
